.CheckoutItemDetails {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e7e8; }
  .CheckoutItemDetails .showhide-label-wrapper {
    text-align: left; }
    .CheckoutItemDetails .showhide-label-wrapper .showhide-label {
      text-decoration: underline;
      cursor: pointer; }
    .CheckoutItemDetails .showhide-label-wrapper .showhide-icon {
      font-size: 1.5em;
      margin-left: 5px; }
  .CheckoutItemDetails .item-wrapper {
    padding-top: 10px; }
    .CheckoutItemDetails .item-wrapper .item-img-wrapper {
      display: inline-block;
      width: 40%;
      vertical-align: top; }
    .CheckoutItemDetails .item-wrapper .item-summary {
      display: inline-block;
      width: 60%;
      text-align: left; }
    .CheckoutItemDetails .item-wrapper .item-priceqty-container {
      position: relative; }
    .CheckoutItemDetails .item-wrapper .item-qty {
      position: absolute;
      right: 0; }
    .CheckoutItemDetails .item-wrapper .item-price {
      font-weight: bold; }
    .CheckoutItemDetails .item-wrapper .item-original-price {
      text-decoration: line-through;
      color: grey;
      font-weight: bold; }
    .CheckoutItemDetails .item-wrapper .item-img {
      width: 55px;
      height: 55px; }
