$red: #de1c24;
$line-margin: 6px;
$border-color: #e6e7e8;

.CheckoutSummary {
    text-align: left;

    .subtotal-container {
        position: relative;
        margin-bottom: $line-margin;

        .subtotal-value {
            position: absolute;
            right: 0;
            font-weight: bold;
        }
    }

    .pickup-savings-container {
        position: relative;
        margin-bottom: $line-margin;

        .pickup-savings-label {
            text-decoration: underline;
            cursor: pointer;
        }

        .pickup-savings-value {
            position: absolute;
            right: 0;
            font-weight: bold;
            color: $red;
        }

        .pickup-popup {
            position: absolute;
            z-index: 1000;
            border: 1px solid $border-color;
            border-radius: 5px;
            left: -50px;
            width: 200px;
            padding: 20px 15px 20px 25px;
            background-color: rgba(255, 255, 255, 1.0);
            top: 30px;
        }
    }

    .est-taxes-fees-container {
        position: relative;

        .est-taxes-fees-value {
            position: absolute;
            right: 0;
            font-weight: bold;
        }
    }

    .zipcode-label {
        margin-bottom: $line-margin;
    }
}