.CheckoutSummary {
  text-align: left; }
  .CheckoutSummary .subtotal-container {
    position: relative;
    margin-bottom: 6px; }
    .CheckoutSummary .subtotal-container .subtotal-value {
      position: absolute;
      right: 0;
      font-weight: bold; }
  .CheckoutSummary .discount-container {
    position: relative;
    margin-bottom: 6px; }
    .CheckoutSummary .discount-container .discount-value {
      position: absolute;
      right: 0;
      font-weight: bold;
      color: #de1c24; }
  .CheckoutSummary .pickup-savings-container {
    position: relative;
    margin-bottom: 6px; }
    .CheckoutSummary .pickup-savings-container .pickup-savings-label {
      text-decoration: underline;
      cursor: pointer; }
    .CheckoutSummary .pickup-savings-container .pickup-savings-value {
      position: absolute;
      right: 0;
      font-weight: bold;
      color: #de1c24; }
    .CheckoutSummary .pickup-savings-container .pickup-popup {
      position: absolute;
      z-index: 1000;
      border: 1px solid #e6e7e8;
      border-radius: 5px;
      left: -50px;
      width: 200px;
      padding: 20px 15px 20px 25px;
      background-color: white;
      top: 30px; }
  .CheckoutSummary .est-taxes-fees-container {
    position: relative; }
    .CheckoutSummary .est-taxes-fees-container .est-taxes-fees-value {
      position: absolute;
      right: 0;
      font-weight: bold; }
  .CheckoutSummary .zipcode-label {
    margin-bottom: 6px; }
