.CheckoutPromoCode {
    .showhide-label-wrapper {
        text-align: left;

        .showhide-label {
            text-decoration: underline;
            cursor: pointer;
        }

        .showhide-icon {
            font-size: 1.5em;
            margin-left: 5px;
        }
    }

    .promo-wrapper {
        margin-top: 5px;
        text-align: left;

        .promo-label {
            margin-left: 5px;
            color: grey;
        }

        .promo-input {
            width: 70%;
            vertical-align: middle;
            border: 1px solid grey;
            border-radius: 3px;
            outline: 0;
            font-size: 1.1em;
        }

        .promo-apply-button {
            height: 23px;
            vertical-align: middle;
            margin-left: 5px;
            border: 1px solid black;
            border-radius: 10px;
            outline: 0;
            font-weight: bold;
            cursor: pointer;
        }
    }
}