.CheckoutPromoCode .showhide-label-wrapper {
  text-align: left; }
  .CheckoutPromoCode .showhide-label-wrapper .showhide-label {
    text-decoration: underline;
    cursor: pointer; }
  .CheckoutPromoCode .showhide-label-wrapper .showhide-icon {
    font-size: 1.5em;
    margin-left: 5px; }

.CheckoutPromoCode .promo-wrapper {
  margin-top: 5px;
  text-align: left; }
  .CheckoutPromoCode .promo-wrapper .promo-label {
    margin-left: 5px;
    color: grey; }
  .CheckoutPromoCode .promo-wrapper .promo-input {
    width: 60%;
    vertical-align: middle;
    border: 1px solid #e6e7e8;
    border-radius: 3px;
    outline: 0;
    font-size: 1.1em; }
  .CheckoutPromoCode .promo-wrapper .promo-apply-button {
    height: 23px;
    vertical-align: middle;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 10px;
    outline: 0;
    font-weight: bold;
    cursor: pointer; }
