.CheckoutTotal {
    position: absolute;
    right: 0;
    width: 222px;
    padding: 16px;
    border: 1px solid rgb(230, 231, 232);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: myriad-pro, BogleWeb, "Helvetica Neue", Helvetica, Arial, sans-serif;
}